---
description:
layout: base.njk
templateEngineOverride: md, njk
---

<style>
  .logo {
    width: 30vmax;
    height: 30vmax;
    margin: 0 auto 2rem;
  }

  .tdbc-hero {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .teammate-container {
    display: flex;
  }

  .teammate-column {
    min-width: 20%;
    text-align: center; 
  }

  .teammate-column img {
    margin-left: auto;
    margin-right: auto;
  }

  .teammate-column + .teammate-column {
    margin-left: 2%;
  }

  img.profile-pic {
    max-width: 20%;
    float: right;
  }

  .teammate-biography {
    max-width: 75%;
    float: left;
  }

</style>
<header>
  <div class="tdbc-container">
    <span>
      {% Image "./src/images/reese_power.png", "reese power logo", "png" %}
    </span>
  </div>
</header>
<main class="tdbc-container">
  <div class="tbdc-section">
    <ul class="tdbc-column-container">
      <li class="tdbc-card">
        <div class="tdbc-card__content">
        <span class="tdbc-card__title">Our Team</span>
        <div class="teammate-container">
          {%- for teammate in collections.teammates -%}
          <div class="teammate-column">
            <a href="">{{teammate.fields.name}}
            <img srcset="https:{{teammate.profilePhotoUrl}}?w=200&fm=jpg&fl=progressive&q=80&fit=fill&f=faces 480w,
              https:{{teammate.profilePhotoUrl}}?w=300&fm=jpg&fl=progressive&q=80&fit=fill&f=faces 300w" sizes="(max-width: 600px) 480px,
              800px" src="https:{{teammate.profilePhotoUrl}}?w=200&fit=fill&f=faces" alt="Profile Pic for {{ teammate.fields.name }}" loading="lazy">
            </a>
            <a href="{{teammate.fields.donationPage}}" target="_blank">Donate</a>
          </div>
          {%- endfor -%}
        </div>
       </div>
      </li>
    </ul>
  </div>
  <div class="tdbc-section">
    <ul class="tdbc-column-container">
      {%- for page in collections.pages -%}
      <li class="tdbc-card">
        <div class="tdbc-card__content">
          <a href="{{ page.url }}" class="tdbc-card__title">{{ page.data.title }}</a>
          <p>{{ page.data.description }}</p>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  </div>
  
{{ content | safe }}

</main>
