---
description:
layout: base.njk
templateEngineOverride: md, njk
---

<style>
  .header-column-left {
    display: flex;
    flex: 33%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;

  }

  .header-column-right {
    display: flex;
    flex: 67%;
    justify-content: center;
    align-items: center;
  }

  .candidate-bio {
    min-width: 40%;
    max-width: 80%;
    text-align: left;
    font-size: 1.15rem;
  }

  .candidate-bio p {
    margin-top: 10px;
  }

  .candidate-video {
    max-width: 40%;
    margin-right: auto;
    margin-left: auto;
  }

  .candidate-video video {
    width: 320px;
  }

  .teammate-column {
    min-width: 20%;
    text-align: center;
  }

  .teammate-column img {
    margin-left: auto;
    margin-right: auto;
  }

  .teammate-column + .teammate-column {
    margin-left: 2%;
  }

  img.profile-pic {
    max-width: 20%;
    float: right;
  }

  .teammate-biography {
    max-width: 75%;
    float: left;
    font-size: 1.15rem;
  }

  .teammate-biography p {
    margin-top: 10px;
  }

  .carouselContainer{
    position: relative;
  }

  .carousel {
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: stretch;
  }

  li.carouselImage {
    display: block;
    list-style: none;
    max-width: 300px;
    max-height: 200px;
    flex: 0 0 auto;

  }

  button.prev, button.next {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #FFF;
    background-color: #333;
    border-radius: 50%;
    width: 44px;
    height: 44px;
  }

  button.prev {
    position: absolute;
    left: 0;
    top: 80px;
    display:none;
  }

  button.next {
    position: absolute;
    right: 0;
    top: 80px;
    display:none;
  }

  .eventImg {
    max-width: 300px;
    max-height: 400px;
  }

  .event-item {
    text-align: center;
    padding-top: 15px;
    border-top: dashed black 1px;
  }

  .event-item a {
    text-decoration: none;
  }

  .wrapper {
    display: flex;
    flex-flow: row wrap;
  }

  /* We tell all items to be 100% width, via flex-basis */
  .wrapper > * {
    flex: 1 100%;
  }

  /* We rely on source order for mobile-first approach
  * in this case:
  * 1. header
  * 2. article
  * 3. aside 1
  * 4. aside 2
  * 5. footer
  */

  /* Large screens */
  @media all and (min-width: 700px) {
    /* We invert order of first sidebar and main
    * And tell the main element to take twice as much width as the other two sidebars
    */
    .main { flex: 2 0px; }
    .aside-1 { order: 1; }
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
    .aside { max-width: 30% }
    .main { margin: 16px;}
    .eventContainer { height: 375px; }

    .main > .tdbc-card {
      height: 100%;
    }
  }

  @media screen and (max-width: 700px) {
    .simple-flex-container {
      flex-direction: column;
    }

    .candidate-bio {
      max-width: 100%;
      margin-right: 10px;
    }

    .candidate-video {
      max-width: 100%;
      margin-right: 10px;
      margin-left: 10px;
    }

    .candidate-video video {
      width: 100%;
    }

    .eventImg {
      max-width: 100%;
    }

    /* We tell both sidebars to share a row */
    .aside { flex: 1 auto; }
  }
</style>
<header>
  <div class="simple-flex-container">
    <div class="header-column-left">
      {% Image "./src/images/reese_power_20_black_purple.png", "reese power logo", "png" %}
    </div>
    <div class="header-column-right">
      <div class="carouselContainer">
        <ul class="carousel">
        {%- for carouselItem in contentful_carousel -%}
          <li class="carouselImage">
          <a href="{{carouselItem.fields.destination}}">
          <img srcset="https:{{carouselItem.imageUrl}}?w=800&fm=jpg&fl=progressive&q=80&fit=fill&f=faces 480w,
                https:{{carouselItem.imageUrl}}?w=600&fm=jpg&fl=progressive&q=80&fit=fill&f=faces 300w" sizes="(max-width: 600px) 480px,
                800px" src="https:{{carouselItem.imageUrl}}?w=600&fit=fill&f=faces">
          </a>
          </li>
        {%- endfor -%}
        </ul>
        <button class="prev" onclick="show(-1)">&lt;</button>
        <button class="next" onclick="show(+1)">&gt;</button>      </div>
    </div>
  </div>
</header>
<main class="tdbc-container">
  <div>
  <div class="tdbc-card">
        <div class="tdbc-card__content">
        <span class="tdbc-card__title">Our Candidate</span>
        <div class="simple-flex-container">
          {%- for teammate in contentful_teammates -%}
          {%- if teammate.fields.tags and 'featured' in teammate.fields.tags -%}
          <div class="teammate-column">
            <img srcset="https:{{teammate.profilePhotoUrl}}?w=200&fm=jpg&fl=progressive&q=80&fit=fill&f=faces 480w,
              https:{{teammate.profilePhotoUrl}}?w=300&fm=jpg&fl=progressive&q=80&fit=fill&f=faces 300w" sizes="(max-width: 600px) 480px,
              800px" src="https:{{teammate.profilePhotoUrl}}?w=200&fit=fill&f=faces" alt="Profile Pic for {{ teammate.fields.name }}" loading="lazy">
            <a href="{{teammate.fields.donationPage}}" target="_blank" class="tdbc-button">Donate<i class="fas fa-donate"></i></a>
          </div>
          <div class="candidate-bio">
            <div><a class="tdbc-card__title" href="{{ '/teammates/' + (teammate.fields.name | slug) | url }}">{{teammate.fields.name}}</a></div>
            {{teammate.fields.biography}}
          </div>
          {%- if teammate.videoUrl -%}
          <div class="candidate-video">
            <video class="video-container" controls>
              <source src="{{teammate.videoUrl}}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
          {%- endif -%}
          {%- endif -%}
          {%- endfor -%}
        </div>
       </div>
      </div>
  </div>
  <div class="wrapper">
    <article class="main">
        <div class="tdbc-card">
          <div class="tdbc-card__content">
            <div class="tdbc-card__title">Events</div>
            {%- for event in contentful_events -%}
              <div class="event-item">
                {% if event.fields.orderUrl %}<a href="{{ event.fields.orderUrl }}">{% else %}<a href="/events/{{ event.fields.name | slug }}">{% endif %}
                  <h4>{{event.fields.name}}</h4>
                  <div>{{event.friendlySchedule.full}}</div>{% if event.fields.streetAddress %}{{event.fields.streetAddress}}<br />{% if event.fields.city %}{{event.fields.city}}{% endif %}{% if event.fields.state %}, {{event.fields.state}}{% endif %}{% if event.fields.zip %}&nbsp;&nbsp;{{event.fields.zip}}{% endif %}<br />{% endif %}
                </a>
              </div><br />
            {%- endfor -%}
            <div class="event-item"></div>
          </div>
        </div>
    </article>
    <aside class="aside aside-1">
      <ul class="tdbc-lg-column-container">
        <li class="tdbc-card">
          <div class="eventContainer tdbc-card__content">
            <a href="/scooter" class="tdbc-card__title">Chance 2 Win a Scooter</a>
            <img src="https://images.ctfassets.net/kl8x7jie19d1/6wdPCUoYtHh3w0bsfctO8S/36486ae35a4b8f09169198aeb4776891/chance_to_win.png" class="eventImg">
          </div>
        </li>
        <li class="tdbc-card">
          <div class="eventContainer tdbc-card__content">
            <a href="/shirts" class="tdbc-card__title">Reese Power T-Shirts, Hoodies and Sweatshirts</a>
            <img src="https://images.ctfassets.net/kl8x7jie19d1/5Ah5QQbqtpwrRkGbM8G5Y9/e9dcb8bbd66ed91d4e66b7e0f096d122/shirts.jpg" class="eventImg">
          </div>
        </li>
      </ul>
    </aside>
    <aside class="aside aside-2">
      <ul class="tdbc-lg-column-container">
        <li class="tdbc-card">
          <div class="eventContainer tdbc-card__content">
            <a href="/photos" class="tdbc-card__title">Visit our Photo Gallery</a>
            <img src="https://images.ctfassets.net/kl8x7jie19d1/5WwCWRn3HkdbALN06xYQZD/03aa48fd205fb81648d045a04d65fa6b/IMG_5941_.jpg?w=800&fm=jpg&fl=progressive&q=80&fit=fill&f=faces" class="eventImg">
          </div>
        </li>
        <li class="tdbc-card">
          <div class="eventContainer tdbc-card__content">
            <a href="/masks" class="tdbc-card__title">Reese Power - Choose Joy! - Masks</a>
            <img src="https://images.ctfassets.net/kl8x7jie19d1/pwrhXU1wD2XT2ZhnBB0lx/240e6d9839b5dfb249af4a6e5fa0a3e3/reese_power_masks.png" class="eventImg">
          </div>
        </li>
      </ul>
    </aside>
  </div>
  <div class="tbdc-section">
    <ul class="tdbc-column-container">
      <li class="tdbc-card">
        <div class="tdbc-card__content">
        <span class="tdbc-card__title">Our Team</span>
        <div class="simple-flex-container">
          {%- for teammate in contentful_teammates -%}
          {%- if not teammate.fields.tags  or 'featured' not in teammate.fields.tags -%}
          <div class="tdbc-child-card">
          <div class="tdbc-child-card__content">
            <a href="{{ '/teammates/' + (teammate.fields.name | slug) | url }}" class="tdbc-child-card__title">{{teammate.fields.name}}
            <img srcset="https:{{teammate.profilePhotoUrl}}?w=200&fm=jpg&fl=progressive&q=80&fit=fill&f=faces 480w,
              https:{{teammate.profilePhotoUrl}}?w=300&fm=jpg&fl=progressive&q=80&fit=fill&f=faces 300w" sizes="(max-width: 600px) 480px,
              800px" src="https:{{teammate.profilePhotoUrl}}?w=200&fit=fill&f=faces" alt="Profile Pic for {{ teammate.fields.name }}" loading="lazy">
            </a>
            <a href="{{teammate.fields.donationPage}}" target="_blank" class="tdbc-button">Donate <i class="fas fa-donate"></i></a>
            </div>
          </div>
          {%- endif -%}
          {%- endfor -%}
        </div>
       </div>
      </li>
    </ul>
  </div>

{{ content | safe }}

</main>
<script>
  let liEls = document.querySelectorAll('ul li.carouselImage');
  let index = 0;
  const show = (increase) => {
    var show_index = index + increase * 3;
    console.log(show_index + ":" + liEls.length);
    if (show_index > (liEls.length)){
     index = 0;
    }
    else if (show_index < 0){
      index = liEls.length - 1;
    }
    else {
      index = show_index;
    }
    liEls[index].scrollIntoView({behavior: 'smooth'});
  }
</script>
