---
title: Silent Auction Items
description: Silent Auction Items provided by Reese Power
layout: page.njk
templateEngineOverride: md, njk
---

<style>

  .candidate-bio {
    min-width: 40%;
    max-width: 65%;
    text-align: left;
    font-size: 1.15rem;
    margin-left: 20px;
  }

  .candidate-bio p {
    margin-top: 10px;
  }

  .teammate-column {
    min-width: 20%;
    text-align: center;
  }

  .teammate-column img {
    margin-left: auto;
    margin-right: auto;
  }

  .teammate-column + .teammate-column {
    margin-left: 2%;
  }

  /* We rely on source order for mobile-first approach
  * in this case:
  * 1. header
  * 2. article
  * 3. aside 1
  * 4. aside 2
  * 5. footer
  */

  /* Large screens */
  @media all and (min-width: 700px) {
    .main > .tdbc-card {
      height: 100%;
    }
  }

  @media screen and (max-width: 700px) {
    .simple-flex-container {
      flex-direction: column;
    }

    .candidate-bio {
      max-width: 100%;
      margin-right: 10px;
    }

</style>

{%- for auction in contentful_auctions -%}
{% if auction.fields.name %}
<main class="tdbc-container">
  <div>
  <div class="tdbc-card">
        <div class="tdbc-card__content">
        <span class="tdbc-card__title">{{auction.fields.name}}</span>
        <div class="simple-flex-container">
          <div class="teammate-column">
            <img srcset="https:{{auction.featuredPhotoUrl}}?w=480&fm=jpg&fl=progressive&q=80&fit=fill&f=faces 480w,
                             https:{{auction.featuredPhotoUrl}}?w=480&fm=jpg&fl=progressive&q=80&fit=fill&f=faces 480w" sizes="(max-width: 600px) 480px,
                            800px" src="https:{{auction.featuredPhotoUrl}}?w=480&fit=fill&f=faces" alt="Auction Item: {{ auction.fields.name }}" loading="lazy">
          </div>
          <div class="candidate-bio">
          {%- for l1 in auction.fields.shortDescription.content -%}
            {% if l1.nodeType == "paragraph" %}<p>{%- for l2 in l1.content -%}{% if l2.nodeType == "text" %}<span>{{l2.value | respectCRLF | safe}}</span>{% endif %}{% if l2.nodeType == "hyperlink" %}<a target="_blank" href="{{l2.data.uri}}">{{l2.content[0].value}}</a>{% endif %}{%- endfor -%}</p>{% endif %}
{% if l1.nodeType == "unordered-list" %}<p>{{l1.content | list | safe}}</p>{% endif %}
          {%- endfor -%}
          <br />
          <a class="tdbc-button" href="{{ '/auctions/' + (auction.fields.name | slug) | url }}">Learn More</a>&nbsp;&nbsp;<a class="tdbc-button" target="_blank" href="https://e.givesmart.com/events/kB1/">Sign Up to Bid!</a>
          </div>
        </div>
       </div>
      </div>
  </div>
</main>
{% endif %}
{%- endfor -%}