---
title: NCAA Bracket Challenge Pool
layout: page.njk
templateEngineOverride: md, njk
---
<style>
  @media screen and (max-width: 700px) {
    .simple-flex-container {
      flex-direction: column;
    }

    .event-column-left, .event-column-right {   
      flex: 100%;
    }

    .triple {
      flex-direction: column;
    }

    .triple-column {
      flex: 100%;
      padding-bottom: 15px;
    }
  }

  .simple-flex-container {
    display: flex;
    flex-flow: row;
  }

  .triple {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .triple-column {
    flex: 0 32%;
  }

  .event-column-left {
    flex: 49%;
    text-align: right;
  }

  .event-column-left img {
    display: inline;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .event-column-right {
    flex: 49%;
    margin-left: 15px;
  }

</style>
<div class="triple">
  <div class="event-column-left">
    <img srcset="https://images.ctfassets.net/kl8x7jie19d1/69vIIJBBgv0pzdt6C9ifN4/c283104bb150c0052c44e9a4356725fd/bracket.png?w=600&fm=jpg&fl=progressive&q=80&fit=fill&f=faces 480w,
                            https://images.ctfassets.net/kl8x7jie19d1/69vIIJBBgv0pzdt6C9ifN4/c283104bb150c0052c44e9a4356725fd/bracket.png?w=600&fm=jpg&fl=progressive&q=80&fit=fill&f=faces 800w" sizes="(max-width: 600px) 480px,
                            800px" src="https://images.ctfassets.net/kl8x7jie19d1/69vIIJBBgv0pzdt6C9ifN4/c283104bb150c0052c44e9a4356725fd/bracket.png?w=600&fit=fill&f=faces" alt="Photo from " loading="lazy">
  </div>
  <div class="event-column-right">
    <h4>Join Claire's NCAA Bracket Challenge Pool</h4>
    <p>This is a FRIENDLY pool benefiting the Leukemia and Lymphoma Society</p>
    <p>Participation is limited, so sign up today!</p>
    <p>The pool uses a seed point bonus</p>
    <p>The seed of the picked team will be added to the points assigned per round</p>
    <p><strong>Pick deadline is March 19, 2021 @ 9AM CST</strong></p>
    <p><strong>Each participant is limited to a single entry in the contest</strong></p>
    <a href="https://www.runyourpool.com/join/pool_info.cfm?id=150372&p=Reese%2DPower%2Ecom" target="_blank" class="tdbc-button" style="margin-top: 5px; float:right;">Sign Up Here!<i class="fas fa-link"></i></a>
  </div>
</div>