---
title: Chance to Win
description: Demo Chance to Win Page
layout: page.njk
templateEngineOverride: md, njk
---
<div>
<form name="contact" method="POST" netlify-honeypot="important-field" data-netlify="true">
  <p class="hidden">
    <label>Don’t fill this out if you’re human: <input name="important-field" /></label>
  </p>
  <p>
    <label>Your Name: <input type="text" name="name" /></label>   
  </p>
  <p>
    <label>Your Email: <input type="email" name="email" /></label>
  </p>
  <p>
    <label>Number of Chances: <input type="number" name="numberofchances"></input></label>
  </p>
  <p>
    <button type="submit">Submit</button>
  </p>
</form>
</div>