---
tags: event
pagination:
    data: contentful_events
    size: 1
    alias: event
permalink: "events/{{ event.fields.name | slug }}/"
renderData:
  title: "{{ event.fields.name }}"
  description: "{{ event.friendlySchedule.full }}"
layout: page.njk
templateEngineOverride: md, njk
---
<style>
  @media screen and (max-width: 700px) {
    .simple-flex-container {   
      flex-direction: column;
    }
  }

  .event-column-left {
    display: flex;
    flex: 60%;
    justify-content: center;
    align-items: center;
  }

  .event-column-right {
    // display: flex;
    flex: 39%;
    // justify-content: left;
    // align-items: start;
    padding-left: 2%
  }

  .event-description {
    min-height: 150px;
  }

  .event-donation {
    margin-top: 10px;
  }
</style>

<div class="simple-flex-container">
  <div class="event-column-left">
    <img srcset="https:{{event.url}}?w=480&h=320&fm=jpg&fl=progressive&q=80&fit=fill&f=faces 480w,
                             https:{{event.url}}?w=800&h=533&fm=jpg&fl=progressive&q=80&fit=fill&f=faces 800w" sizes="(max-width: 600px) 480px,
                            800px" src="https:{{event.url}}?w=480&h=320&fit=fill&f=faces" alt="Photo from {{ event.fields.title }}" loading="lazy">
  </div>
  <div class="event-column-right">
    <div class="event-description">
    {%- for l1 in event.fields.description.content -%}
    {% if l1.nodeType == "paragraph" %}
    <p>
      {%- for l2 in l1.content -%}
      {% if l2.nodeType == "text" %}
      <span>{{l2.value}}</span>  
      {% endif %}
      {%- endfor -%}
    </p>
    {% endif %}
    {%- endfor -%}
    </div>
{% if event.fields.streetAddress %}
<div>
    <div>Address:</div>
    <div>{{event.fields.streetAddress}}</div>
    <div>{% if event.fields.city %}{{event.fields.city}}{% endif %}{% if event.fields.state %},&nbsp;{{event.fields.state}}{% endif %}{% if event.fields.zip %}&nbsp;&nbsp;{{event.fields.zip}}{% endif %}</div>
</div>
<div>
<a href="{{event.directionsUri}}" target="_blank">Directions<i class="fas fa-map"></i></a>
</div>
{% endif %}
{% if event.fields.teammates %}
<div class="event-donation">I can't make it but I'd like to donate to:<br />
{%- for teammate in event.fields.teammates -%}
  <a href="{{ teammate.fields.donationPage }}" target="_blank">{{teammate.fields.name}} <i class="fas fa-donate"></i></a>
{%- endfor -%}
</div>
{% endif %}
  </div>
<div>
