---
title: Events
description: Fundraising Events
layout: page.njk
templateEngineOverride: md, njk
---
<div id="eventsContainer" class="tdbc-container" >
</div>
{# <script type="javascript">
  var eventContent = [ 
      {%- for event in contentful_events -%}
      {
        "name": "{{event.fields.name}}",
        "description": {% stringify event.fields.description %},
        "startDateTime": "{{event.fields.startDateTime}}",
        "endDateTime": "{{event.fields.endDateTime}}",
        "location": {% stringify event.fields.location %},
        "url": "https:{{event.url}}"
      },
      {%- endfor -%}
    ];
</script> #}
<script src="/scripts/eventrenderer.js" defer></script>
