---
title: Photo Gallery
description: Our favorite photos from the campaign
layout: page.njk
templateEngineOverride: md, njk
---
{%- for photo in contentful_photos -%}
{% if photo.fields.title %}
<div class="column">
        <div class="box">
            <h4>{{photo.fields.title}}</h4>
            <a href="{{photo.fields.slug}}">
                <div class="image is-3by2">
                    <img srcset="https:{{photo.url}}?w=480&fm=jpg&fl=progressive&q=80&fit=fill&f=faces 480w,
                             https:{{photo.url}}?w=800&fm=jpg&fl=progressive&q=80&fit=fill&f=faces 800w" sizes="(max-width: 600px) 480px,
                            800px" src="https:{{photo.url}}?w=480&fit=fill&f=faces" alt="Photo from {{ photo.fields.title }}" loading="lazy">
                </div>
            </a>
        </div>
    </div><br /><br />
{% endif %}
{%- endfor -%}