---
title: Scooter - Chance 2 Win
layout: page.njk
templateEngineOverride: md, njk
---
<style>
  @media screen and (max-width: 700px) {
    .simple-flex-container {
      flex-direction: column;
    }

    .event-column-left, .event-column-right {   
      flex: 100%;
    }

    .triple {
      flex-direction: column;
    }

    .triple-column {
      flex: 100%;
      padding-bottom: 15px;
    }
  }

  .simple-flex-container {
    display: flex;
    flex-flow: row;
  }

  .triple {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .triple-column {
    flex: 0 32%;
  }

  .event-column-left {
    flex: 49%;
    text-align: right;
  }

  .event-column-left img {
    display: inline;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .event-column-right {
    flex: 49%;
    margin-left: 15px;
  }

</style>

<div class="triple">
  <div class="event-column-left">
    <img srcset="https://images.ctfassets.net/kl8x7jie19d1/6wdPCUoYtHh3w0bsfctO8S/36486ae35a4b8f09169198aeb4776891/chance_to_win.png?w=800&fm=jpg&fl=progressive&q=80&fit=fill&f=faces 480w,
                             https://images.ctfassets.net/kl8x7jie19d1/6wdPCUoYtHh3w0bsfctO8S/36486ae35a4b8f09169198aeb4776891/chance_to_win.png?h=400&fm=jpg&fl=progressive&q=80&fit=fill&f=faces 800w" sizes="(max-width: 600px) 480px,
                            800px" src="https://images.ctfassets.net/kl8x7jie19d1/6wdPCUoYtHh3w0bsfctO8S/36486ae35a4b8f09169198aeb4776891/chance_to_win.png?h=400&fit=fill&f=faces" alt="Photo from " loading="lazy">
  </div>
  <div class="event-column-right">
    <h4>Chance to win a Scooter!</h4>
    <p>$20 per chance</p>
    <p>Drawing on April 18th but limited to 250 entries, so act fast! </p>
    <p><a href="https://assets.ctfassets.net/kl8x7jie19d1/4rCmUdKzKusJoIcYl2dElv/0ed5c1c038532d1d174884e78c2b80f1/Scooter_Flyer_2-2021-C.pdf" target="_blank" class="tdbc-button" style="margin-top: 5px;">Download the flyer<i class="fas fa-file-pdf"></i></a>
    <p>Select the amount of chances you would like to purchase below </p>
    <button onclick="removeFromCart('CHANCE2WIN')"><i class="fas fa-minus"></i></button><input size="1" type="text" id="CHANCE2WIN" value=0 disabled /><button onclick="addToCart({id: 'CHANCE2WIN', name: 'Chance 2 Win', price: 20})"><i class="fas fa-plus"></i></button> Chances
    <a href="/checkout" class="tdbc-button" style="margin-top: 5px; float:right;">Checkout<i class="fas fa-shopping-cart"></i></a>
  </div>
</div>
