---
permalink: api/events/all.json
eleventyExcludeFromCollections: true
---
[
{%- for event in contentful_events -%}
{
  "name": "{{event.fields.name}}",
  "description": {% stringify event.fields.description %},
  "startDateTime": "{{event.fields.startDateTime}}",
  "endDateTime": "{{event.fields.endDateTime}}",
  "location": {% stringify event.fields.location %},
  "url": "https:{{event.url}}",
  "slug": "/events/{{ event.fields.name | slug }}",
  "friendlySchedule": {% stringify event.friendlySchedule %}
}{% if loop.last %} {% else %},{% endif %}
{%- endfor -%}
]